.containerCards {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.507);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: fit-content;
  max-width: 60%;

  z-index: 0;
}
::-webkit-scrollbar {
  padding: 0px;
  width: 10px;
  height: 10px;
  background-color: #8938e6;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #371149;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c4c0c0;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #8e2bbd;
}

::-webkit-scrollbar-button {
  background-color: #e9188b;
  height: 0;
}

@media screen and (max-width: 1050px) {
  .containerCards {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .containerCards {
    /* background-color: rgba(0, 0, 0, 0); */
    width: 100vh;
  } 
}

@media screen and (max-width: 585px) {
  
  
}

@media screen and (max-width: 450px) {
  .containerCards {
    background-color: transparent;
    /* width: 100vh; */
  } 

}



