.divCards {
    display: flex;
    justify-content: center;
    /* background-color: rgba(247, 9, 235, 0.507); */
    width: 100%;
}

@media screen and (max-width: 1050px) {
    .divCards {
        margin-top: 60px;
    }
  }


